.DS_Store
**/.DS_Store
node_modules
**/node_modules
# dist
pids
logs
coverage/
run
.nyc_output
.basement
config.local.js
basement_dist

# local env files
.env.local
.env.*.local
.env

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


