/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

@import "~uswds/dist/css/uswds.css";
@import('../../../../dist/uswds-vue.css');
//@import('../../../../src/styles/uswds-vue.scss');

.home .hero img
  max-width 450px!important

