/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

@import "~uswds/dist/css/uswds.css";
@import('../../../../dist/uswds-vue.css');
//@import('../../../../src/styles/uswds-vue.scss');

a.sidebar-link.active,  a.sidebar-link:active {
    outline: none !important;
}

a.sidebar-link.active,  {
    font-weight: 600 !important;
    color: #3eaf7c !important;
    border-left-color: #3eaf7c !important;
}  

div.theme-default-content:not(.custom), .page-edit, .page-nav {
    max-width: 1200px !important;
}

.home .hero img
  max-width 450px!important

