/*
Utility SCSS that converts all the USWDS tokens to actual color classes. 
This is not pulled into the build by default, but is here for debugging 
and documentation.
*/

@import './core.scss';
//@import './variables.scss';
@import './functions.scss';

$families: 
'blue',
'blue-cool',
'blue-warm',
'cyan',
'gold',
'green',
'green-cool',
'green-warm',
'indigo',
'indigo-cool',
'indigo-warm',
'magenta',
'mint',
'mint-cool',
'orange',
'orange-warm',
'red',
'red-cool',
'red-warm',
'violet',
'violet-warm',
'yellow';

$grayFamilies: 'gray', 'gray-cool', 'gray-warm';

$vividGrades: 5, 10, 20, 30, 40, 50, 60, 70, 80;
$colorGrades: 5, 10, 20, 30, 40, 50, 60, 70, 80, 90;
$grayGrades: 1, 2, 3, 4, 5, 10, 20, 30, 40, 50, 60, 70, 80, 90;

@each $family, $meta in $families {
        
    @each $grade in $colorGrades {
    
        $color: get-color($family, $grade, false);
        $token: '#{$family}-#{$grade}';

        @if $color {
            .#{$token} {
                color: $color !important;
            }
        
            .bg-#{$token} {
                background-color: $color !important;
            }
        }
        @else {
            @debug No color found for $token;
        }
                    
    }

    @each $grade in $vividGrades {
    
        $color: get-color($family, $grade, false);
        $token: '#{$family}-#{$grade}';

        $color_v: get-color($family, $grade, true);
        $token_v: '#{$family}-#{$grade}v';
    
        @if $color_v {
    
            .#{$token_v} {
                color: $color_v !important;
            }
        
            .bg-#{$token_v} {
                background-color: $color_v !important;
            }

        } 
                   
    }
  
}


@each $family, $meta in $grayFamilies {    

    @each $grade in $grayGrades {
    
        $color: get-color($family, $grade, false);
        $token: '#{$family}-#{$grade}';
    
        @if $color {
    
            .#{$token} {
                color: $color !important;
            }
        
            .bg-#{$token} {
                background-color: $color !important;
            }

        } 
                   
    }
  
}
