// USWDS has an excellent color system, check it out here for a deeper dive
// @see https://designsystem.digital.gov/utilities/color/

$theme-colors: (
  primary: get-color('blue', 60, true), // blue-60v
  secondary: get-color('gray', 50, false), // red-50
  success: get-color('green-cool', 40, true), // green-cool-40v
  warning: get-color('gold', 20, true), // gold-20v
  info: get-color('cyan', 30, true), // cyan-30v
  alert: get-color('red-warm', 50, true), // red-warm-50v
  danger: get-color('red-warm', 50, true), // red-warm-50v
  accent: get-color('blue-cool', 20, true), // blue-cool-20v
  dark: get-color('gray', 90, false), // gray-90
  light: get-color('gray', 5, false), // gray-5
  muted: get-color('gray', 40, false), // gray-5
  transparent: rgba(255,255,255,0),
  white: #fff,
  black: #000
) !default;

$theme-background-colors: (
  primary: get-color('blue', 60, false),
  secondary: get-color('gray', 30, false),
  success: get-color('green-cool', 5, false),
  warning: get-color('yellow', 5, false),
  info: get-color('cyan', 5, false),
  alert: get-color('red-warm', 10, true),
  danger: get-color('red-warm', 10, true),
  dark: get-color('gray', 90, false),
  light: get-color('gray', 5, false),
  muted: get-color('gray', 5, false), // gray-5
  transparent: rgba(255,255,255,0),
  white: #fff,
  black: #000  
) !default;

$theme-background-font-colors: (
  primary: get-color('gray', 5, false),
  secondary: get-color('gray', 5, false),
  success: get-color('gray', 90, false),
  warning: get-color('gray', 90, false),
  info: get-color('gray', 90, false),
  alert: get-color('gray', 90, false),
  danger: get-color('gray', 90, false),
  dark: get-color('gray', 5, false),
  light: get-color('gray', 90, false),
  muted: get-color('gray', 90, false), // gray-5
  transparent: rgba(255,255,255,0),
  white: #000,
  black: #fff  
) !default;

$theme-border-colors: (
  primary: get-color('blue-warm', 90, true),
  secondary: get-color('gray', 70, false),
  success: get-color('green-cool', 40, true),
  warning: get-color('gold', 30, true),
  info: get-color('cyan', 40, true),
  alert: get-color('red-warm', 60, true),
  danger: get-color('red-warm', 60, true),
  dark: get-color('gray-cool', 70, false),
  muted: get-color('gray', 90, false), // gray-5
  light: get-color('gray', 20, false),
  transparent: rgba(255,255,255,0),
  white: #fff,
  black: #000  
) !default;


// Setup utiliy classes that uses these
@each $name, $color in $theme-colors {
  .text-#{$name} {color: $color !important;}
}

@each $name, $color in $theme-background-colors {
  .text-bg-#{$name} {
    background-color: map-get($theme-background-font-colors, $name);
  };
  .text-complement-#{$name} {
    color: map-get($theme-background-font-colors, $name);
  };
}

@each $name, $color in $theme-background-colors {
  .bg-#{$name} {
    background-color: $color;
    color: map-get($theme-background-font-colors, $name);
  };
}

@each $name, $color in $theme-border-colors {
  .border-#{$name} {
    border-color: $color !important;
  };
}

