$theme-colors: (
  primary: #2c608a, // 'blue-60'
  secondary: #757575, // 'gray-50'
  accent: #ffbc78, // 'orange-20v'
  success: #719f2a, // 'green-40v' 
  warning: #e5a000, // 'gold-30v'
  info: #8bd3df, // 'cyan-30v',
  danger: #d54309, // 'red-warm-50v'
  dark: #1b1b1b, // 'gray-90',
  light: #c9c9c9, // 'gray-20',
  muted: #adadad, // 'gray-30',
  white: #fcfcfc, // 'gray-1',
  black: #000000
) 