// Adopt Bootstrap style padding utilities for ease of use
//@import "./mixins.scss";

$sizes: 'sm', 'md', 'lg', 'xl';
$step: 8;

$pads: 
    ('neg-3' -3) 
    ('neg-205' -2.5) 
    ('neg-2', -2)
    ('neg-105', -1.5) 
    ('neg-1', -1) 
    ('neg-05', -0.5) 
    ('0', 0) 
    ('05', 0.5 )
    ('1', 1 )
    ('105', 1.5 )
    ('2', 2 )
    ('3', 3 )
    ('4', 4 )
    ('5', 5 )
    ('6', 6 )
    ('7', 7 )
    ('8', 8 )
    ('9', 9 )
    ('10', 10 );

// Padding...

@each $i, $pixs in $pads {
    .p-#{$i} {padding: #{$pixs*$step}px;};
    .pl-#{$i} {padding-left: #{$pixs*$step}px;};
    .pr-#{$i} {padding-right: #{$pixs*$step}px;};
    .pt-#{$i} {padding-top: #{$pixs*$step}px;};
    .pb-#{$i} {padding-bottom: #{$pixs*$step}px;};
}

@each $i, $pixs in $pads {
    @each $size in $sizes {
        .p-#{$size}-#{$i} {@include media-breakpoint-up($size) {padding: #{$pixs*$step}px;}};
        .px-#{$size}-#{$i} {@include media-breakpoint-up($size) {padding-left: #{$pixs*$step}px; padding-right: #{$pixs*$step}px;}};
        .pl-#{$size}-#{$i} {@include media-breakpoint-up($size) {padding-left: #{$pixs*$step}px;}};
        .pr-#{$size}-#{$i} {@include media-breakpoint-up($size) {padding-right: #{$pixs*$step}px;}};
        .pt-#{$size}-#{$i} {@include media-breakpoint-up($size) {padding-top: #{$pixs*$step}px;}};
        .pb-#{$size}-#{$i} {@include media-breakpoint-up($size) {padding-bottom: #{$pixs*$step}px;}};
    }
}    


// Margins...

@each $i, $pixs in $pads {
    .m-#{$i} {margin: #{$pixs*$step}px;};
    .mx-#{$i} {margin-right: #{$pixs*$step}px; margin-left: #{$pixs*$step}px;};
    .ml-#{$i} {margin-left: #{$pixs*$step}px;};
    .mr-#{$i} {margin-right: #{$pixs*$step}px;};
    .mt-#{$i} {margin-top: #{$pixs*$step}px;};
    .mb-#{$i} {margin-bottom: #{$pixs*$step}px;};
}

@each $i, $pixs in $pads {
    @each $size in $sizes {
        .m-#{$size}-#{$i} {@include media-breakpoint-up($size) {margin: #{$pixs*$step}px;}};
        .mx-#{$size}-#{$i} {@include media-breakpoint-up($size) {margin-right: #{$pixs*$step}px; margin-left: #{$pixs*$step}px;}};
        .ml-#{$size}-#{$i} {@include media-breakpoint-up($size) {margin-left: #{$pixs*$step}px;}};
        .mr-#{$size}-#{$i} {@include media-breakpoint-up($size) {margin-right: #{$pixs*$step}px;}};
        .mt-#{$size}-#{$i} {@include media-breakpoint-up($size) {margin-top: #{$pixs*$step}px;}};
        .mb-#{$size}-#{$i} {@include media-breakpoint-up($size) {margin-bottom: #{$pixs*$step}px;}};
    }
}    

// Auto-margins

.m-auto {margin: auto};
.ml-auto {margin-left: auto};
.mr-auto {margin-right: auto};
.mt-auto {margin-top: auto};
.mb-auto {margin-bottom: auto};

@each $size in $sizes {
    .m-#{$size}-auto {@include media-breakpoint-up($size) {margin: auto}};
    .mx-#{$size}-auto {@include media-breakpoint-up($size) {margin-left: auto; margin-right: auto}};
    .ml-#{$size}-auto {@include media-breakpoint-up($size) {margin-left: auto}};
    .mr-#{$size}-auto {@include media-breakpoint-up($size) {margin-right: auto}};
    .mt-#{$size}-auto {@include media-breakpoint-up($size) {margin-top: auto}};
    .mb-#{$size}-auto {@include media-breakpoint-up($size) {margin-bottom: auto}};
}

// Display

.d-none {display: none;}
.d-block {display: block;}
.d-inline-block { display: inline-block;}

@each $size in $sizes {
    .d-#{$size}-none {@include media-breakpoint-up($size) {display: none};}
    .d-#{$size}-block {@include media-breakpoint-up($size) {display: block};}
    .d-#{$size}-inline-block {@include media-breakpoint-up($size) {display: inline-block};}
}

// Extra text utilties

.text-center {text-align: center;}
.text-left {text-align: left;}
.text-right {text-align: right;}

@each $size in $sizes {
    .text-#{$size}-center {@include media-breakpoint-up($size) {text-align: center}};
    .text-#{$size}-left {@include media-breakpoint-up($size) {text-align: left}};
    .text-#{$size}-right {@include media-breakpoint-up($size) {text-align: right}};
}
